@charset "utf-8";
/* CSS Document */
html {
	height:100%;
	font-size:-webkit-calc(2000vw / 640);
	font-size:calc(3000vw / 640);
}
body {
	height:200%;
	width:100%;
	margin:0;
	background-color:#ff5555;
	overflow-x:hidden;
}
p {margin:0;}
li {list-style:none;}
.clear:before,
.clear:after {
    content: " ";
    display: table;
    height: 0;
}

.clear:after {
    clear: both;
}

.box:before,
.box:after {
    content: " ";
    display: table;
    height: 0;
}
.blz-close {
	padding:0.5rem;
	float:right;
	color:#fff;
	font-size:1rem;
	}
.blz-bk {
	display:none;
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,1);
	z-index:99999999;
}
.blz-photo {
    position: relative;
	top:50%;
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%);
}

.blz-photo-wisher {
	display:none;
    position: absolute;
    width: 4.2rem;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-450%, -50%);
    transform: translate(-450%, -50%);
    text-align: center;
    white-space: nowrap;
    color: #fff;
    background-color: rgba(10, 10, 10, 0.5);
    z-index: 1000;
}
.blz-photo-wisher p {
    margin:0;
	line-height:1.4;
    text-align: center;
}
.blz-photo-wisher span {
    position: absolute;
    top: 0.4rem;
    right: 0.3rem;
    padding: 2px;
    font-size: 0.4rem;
    background-color: rgba(10, 10, 10, 0.6);
}
.blz-photo-wisher img {
    display:block;
	width: 4.2rem;
    height: 4.2rem;
}

.blz-photo-wall {
    position: relative;
    width: 12rem;
    padding-bottom: 0.5rem;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    line-height: 2;
    font-size: 0.6rem;
}

.blz-photo-wall li {
    box-sizing: border-box;
    position: relative;
    float: left;
    width: 0.6rem;
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent;
    list-style: none;
	overflow:hidden;
}
.blz-photo-wall li.animate {
	overflow:visible;
}
.blz-photo-wall li:after {
    content: '';
    display: block;
    padding-bottom: 100%;
}

.blz-photo-wall li.active:after {
    background-color: #ffe155;
}

.blz-photo-wall li>div {
    position: absolute;
    top: 50%;
    left: 50%;
	width:500%;
	height:500%;
	text-align: center;
    white-space: nowrap;
    color: #fff;
    background-color: rgba(10, 10, 10, 0.5);
    z-index: 10;
	transform: translate(-50%,-50%) scale(0.2,0.2);
	transform-origin:center center;
}
.blz-photo-wall li:hover {
	overflow:visible;
	}
.blz-photo-wall li:hover p {
	opacity:1;
	transition:opacity .6s ease;
	}
.blz-photo-wall li:hover div {
	transition:transform .6s ease;
	transform: translate(-50%,-50%) scale(1,1);
	z-index:3000;
	}		
.blz-photo-wall li>div p {
	opacity:0;
	background-color: rgba(10, 10, 10, 0.5);
}
.blz-photo-wall li.animate>div {
	animation: rotating 4s cubic-bezier(0.5,0.5,0.5,0.5);
}
.blz-photo-wall li.animate>div p {
	animation: rotating-1 4s cubic-bezier(0.5,0.5,0.5,0.5);
}
.blz-photo-wall img {
    display: block;
    width: 100%;
}


/*动画二for pc*/
@keyframes rotating {
    0% {
		transform: scale(0.2,0.2) rotate(0deg) translate(-50%,-50%);
		transform-origin:left top;
		z-index:2000;
    }
	15% {
		transform: scale(1,1) rotate(720deg) translate(-50%,-50%);
		transform-origin:left top;
		z-index:2000;
    }
	85% {
		transform: scale(1,1) rotate(720deg) translate(-50%,-50%);
		transform-origin:left top;
		z-index:2000;
    }
	100% {
		transform: scale(0.2,0.2) rotate(0deg) translate(-50%,-50%);
		transform-origin:left top;
		z-index:2000;
    }
}

/*控制字体的显示*/
@keyframes rotating-1 {
    0% {
		opacity:0;
    }
	15% {
		opacity:0;
    }
	20% {
		opacity:1;
	}
	80% {
		opacity:1;
    }
	85% {
		opacity:0;
	}
	100% {
		opacity:0;
    }
}

@keyframes rotating-1 {
    0% {
		opacity:0;
    }
	15% {
		opacity:0;
    }
	20% {
		opacity:1;
	}
	80% {
		opacity:1;
    }
	85% {
		opacity:0;
	}
	100% {
		opacity:0;
    }
}